/*
Green #182514
Beige #d5b79a
*/

a { color: #182514; }
a:hover { color: #182514; }
a.head {
    color: #d5b79a;
    text-decoration: none;
}

body {
    background-image: url(bg.gif);
}

.box {
    margin-top: 20px;
    padding: 20px;
    background-color: #d5b79a;
    color: #182514;
}

.content {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    /* margin-top: 5%; */
}

.toprow {
    margin-top: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: #182514;
    border: 2px solid #d5b79a;
    color: #d5b79a;
}

