/*

Colors: https://coolors.co/086788-07a0c3-f0c808-fff1d0-dd1c1a

*/

a { color: black; }
a:hover { color: #07A0C3; }
a.head {
    color: #DD1C1A;
    text-decoration: none;
}

body {
    background-color: #EEEBD0;
    color: black;
}

hr {
    border-color: #086788;
}

td, th {
    border: none;
}

td > * {
    vertical-align: middle;
    margin-bottom: 0;
}

.box, .toprow {
    border: 2px solid #086788;
    margin-top: 20px;
    padding: 20px;
    background-color: #FFF1D0;
    color: black;
}

.red { color: #DD1C1A; }

.toprow {
    text-align: center;
}

